<html lang="en">
<%- include('partials/head') %>
<body>

  <%- include('partials/nav') %>

  <div class="not-found content">
    <img src="/404error.svg" alt="404 error">
  </div>
  <%- include("partials/footer") %>
</body>
</html>